/* The below are colors from the official IEA style guide */

$color-aurora-blue:         #428bca !default;
$color-aurora-orange:       #ca4200 !default;
$color-aurora-black:        #000 !default;
$color-aurora-white:        #fff !default;

$color-aurora-very-light-grey:  #f8f8f8 !default;
$color-aurora-light-grey:       #e7e7e7 !default;
$color-aurora-medium-grey:      #777 !default;
$color-aurora-dark-grey:        #333 !default;

$color-style-error:         #ff0000 !default;
$color-aurora-custom-grey:  #c9c9c9 !default;
