@mixin box-shadow($left, $top, $blur, $spread, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $left $top $blur $spread $color;
        -moz-box-shadow:inset $left $top $blur $spread $color;
        box-shadow:inset $left $top $blur $spread $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $spread $color;
        -moz-box-shadow: $top $left $blur $spread $color;
        box-shadow: $top $left $blur $spread $color;
    }
}

// For multiple Drop shadows
@mixin multi-box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;       
          box-shadow: $shadow;
}
