/* The below are colors from the official IEA style guide */

$color-iea-blue:         #03addf !default;
$color-iea-light-blue:   #21addd !default;
$color-iea-black:        #000 !default;
$color-iea-light-grey:   #999 !default;
$color-iea-medium-grey:  #666 !default;
$color-iea-dark-grey:    #333 !default;
$color-iea-white:        #fff !default;
$color-style-error:         #ff0000 !default;
$color-iea-custom-grey:  #434343 !default;
$color-iea-nav-grey:     #efefef !default;
$color-instagram-blue:      #3b678d !default;
$color-success-green:       #808000 !default;


/* THe below is the customized colors for IEA components*/

$color-twitter-header: #15577c !default;
$color-panel-tab: #ebebeb !default;
$color-panel-border: #f3f3f3 !default;
$color-tab-border: #008eab !default;
$color-panel-border-bottom: #00bde3 !default;
$color-search-btn: #393939 !default;
$color-btn-border: #167FA3 !default;

$color-iea-faded:       #ccc !default;

$color-pinterest-header: #c72527 !default;


$color-navigation-border: #4D4D4D !default;
$color-navigation-bg: #292929 !default;
$color-navigation-border: #15577c !default;
$color-navigation-border: #15577c !default;

$color-iea-background: #efece5 !default;
$color-iea-footer-grey: #c5bfbb !default;

$color-iea-shadow-dark: #c8c6c0 !default;
$color-iea-expandcollapse-background: #f2f1eb !default;
$color-iea-sec-nav: #f2f1eb !default;
