@include font-face('icomoon','icomoon', $icomoon-font-path);


[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-top-gear:before {
	content: "\e685";
}

.icon-minus:before {
	content: "\e683";
}

.icon-plus:before {
	content: "\e684";
}

.icon-chevron-down:before {
	content: "\e67e";
}

.icon-chevron-up:before {
	content: "\e67f";
}

.icon-calendar-new:before {
	content: "\e680";
}

.icon-chevron-side:before {
	content: "\e681";
}

.icon-Enlarge:before {
	content: "\e682";
}

.icon-youtube:before {
	content: "\e600";
}

.icon-youtube-views:before {
	content: "\e601";
}

.icon-youtube-play:before {
	content: "\e602";
}

.icon-wine:before {
	content: "\e603";
}

.icon-whitepaper:before {
	content: "\e604";
}

.icon-whitepaper-download:before {
	content: "\e605";
}

.icon-website:before {
	content: "\e606";
}

.icon-viral-events:before {
	content: "\e607";
}

.icon-twitter:before {
	content: "\e608";
}

.icon-twitter-retweet:before {
	content: "\e609";
}

.icon-twitter-favorite:before {
	content: "\e60a";
}

.icon-tumblr:before {
	content: "\e60b";
}

.icon-trophy:before {
	content: "\e60c";
}

.icon-thank-you:before {
	content: "\e60d";
}

.icon-technology:before {
	content: "\e60e";
}

.icon-sushi:before {
	content: "\e60f";
}

.icon-subway:before {
	content: "\e610";
}

.icon-submit-pdf:before {
	content: "\e611";
}

.icon-stopwatch:before {
	content: "\e612";
}

.icon-sports:before {
	content: "\e613";
}

.icon-speech-bubbles:before {
	content: "\e614";
}

.icon-shopping:before {
	content: "\e615";
}

.icon-search-alternate:before {
	content: "\e616";
}

.icon-seafood-2:before {
	content: "\e617";
}

.icon-seafood-1:before {
	content: "\e618";
}

.icon-science:before {
	content: "\e619";
}

.icon-sandwiches:before {
	content: "\e61a";
}

.icon-resort-3:before {
	content: "\e61b";
}

.icon-resort-2:before {
	content: "\e61c";
}

.icon-resort-1:before {
	content: "\e61d";
}

.icon-real-estate:before {
	content: "\e61e";
}

.icon-read-more-open:before {
	content: "\e61f";
}

.icon-read-more-closed:before {
	content: "\e620";
}

.icon-quotes:before {
	content: "\e621";
}

.icon-predictive-analytics:before {
	content: "\e622";
}

.icon-politics:before {
	content: "\e623";
}

.icon-pizza:before {
	content: "\e624";
}

.icon-pizza-place:before {
	content: "\e625";
}

.icon-phone-number:before {
	content: "\e626";
}

.icon-pepper:before {
	content: "\e627";
}

.icon-pencil:before {
	content: "\e628";
}

.icon-parking:before {
	content: "\e629";
}

.icon-other:before {
	content: "\e62a";
}

.icon-online-marketing:before {
	content: "\e62b";
}

.icon-offices:before {
	content: "\e62c";
}

.icon-office-hours:before {
	content: "\e62d";
}

.icon-no-result:before {
	content: "\e62e";
}

.icon-newspaper:before {
	content: "\e62f";
}

.icon-nav-work:before {
	content: "\e630";
}

.icon-nav-search:before {
	content: "\e631";
}

.icon-nav-playlist:before {
	content: "\e632";
}

.icon-nav-mobile-menu:before {
	content: "\e633";
}

.icon-nav-influence:before {
	content: "\e634";
}

.icon-nav-culture:before {
	content: "\e635";
}

.icon-nav-contact:before {
	content: "\e636";
}

.icon-nav-connect:before {
	content: "\e637";
}

.icon-nav-careers:before {
	content: "\e638";
}

.icon-nav-approach:before {
	content: "\e639";
}

.icon-motel:before {
	content: "\e63a";
}

.icon-mobile-app:before {
	content: "\e63b";
}

.icon-mixed-drink-2:before {
	content: "\e63c";
}

.icon-mixed-drink-1:before {
	content: "\e63d";
}

.icon-miles-traveled:before {
	content: "\e63e";
}

.icon-mexican-food:before {
	content: "\e63f";
}

.icon-medical:before {
	content: "\e640";
}

.icon-logo-sapient:before {
	content: "\e641";
}

.icon-locate:before {
	content: "\e642";
}

.icon-liquor:before {
	content: "\e643";
}

.icon-linkedin:before {
	content: "\e644";
}

.icon-link:before {
	content: "\e645";
}

.icon-light-rail:before {
	content: "\e646";
}

.icon-latenight-hours:before {
	content: "\e647";
}

.icon-juice-2:before {
	content: "\e648";
}

.icon-juice-1:before {
	content: "\e649";
}

.icon-italian-food:before {
	content: "\e64a";
}

.icon-instagram:before {
	content: "\e64b";
}

.icon-indian-food:before {
	content: "\e64c";
}

.icon-hotel:before {
	content: "\e64d";
}

.icon-hostel-2:before {
	content: "\e64e";
}

.icon-hostel-1:before {
	content: "\e64f";
}

.icon-hole-in-the-wall:before {
	content: "\e650";
}

.icon-heartwarming:before {
	content: "\e651";
}

.icon-heart:before {
	content: "\e652";
}

.icon-health-food-2:before {
	content: "\e653";
}

.icon-health-food-1:before {
	content: "\e654";
}

.icon-getting-around:before {
	content: "\e655";
}

.icon-general:before {
	content: "\e656";
}

.icon-food:before {
	content: "\e657";
}

.icon-food-trucks:before {
	content: "\e658";
}

.icon-financial:before {
	content: "\e659";
}

.icon-film:before {
	content: "\e65a";
}

.icon-fax:before {
	content: "\e65b";
}

.icon-facebook:before {
	content: "\e65c";
}

.icon-everything-else:before {
	content: "\e65d";
}

.icon-event:before {
	content: "\e65e";
}

.icon-entertainment:before {
	content: "\e65f";
}

.icon-email:before {
	content: "\e660";
}

.icon-content-management:before {
	content: "\e661";
}

.icon-contact-email:before {
	content: "\e662";
}

.icon-contact-careers:before {
	content: "\e663";
}

.icon-comment:before {
	content: "\e664";
}

.icon-coffee:before {
	content: "\e665";
}

.icon-close-light:before {
	content: "\e666";
}

.icon-city:before {
	content: "\e667";
}

.icon-campsite:before {
	content: "\e668";
}

.icon-calendar:before {
	content: "\e669";
}

.icon-cafe-tea:before {
	content: "\e66a";
}

.icon-cafe-coffee-2:before {
	content: "\e66b";
}

.icon-cafe-coffee-1:before {
	content: "\e66c";
}

.icon-bus:before {
	content: "\e66d";
}

.icon-burgers:before {
	content: "\e66e";
}

.icon-breakfast:before {
	content: "\e66f";
}

.icon-bike:before {
	content: "\e670";
}

.icon-bar-2:before {
	content: "\e671";
}

.icon-bar-1:before {
	content: "\e672";
}

.icon-b-and-b:before {
	content: "\e673";
}

.icon-automotive:before {
	content: "\e674";
}

.icon-asian-2:before {
	content: "\e675";
}

.icon-asian-1:before {
	content: "\e676";
}

.icon-arrows-scroll:before {
	content: "\e677";
}

.icon-arrow-up:before {
	content: "\e678";
}

.icon-arrow-right:before {
	content: "\e679";
}

.icon-arrow-left:before {
	content: "\e67a";
}

.icon-arrow-down:before {
	content: "\e67b";
}

.icon-advertising:before {
	content: "\e67c";
}

.icon-acrobat:before {
	content: "\e67d";
}