/* the base class name is the name added to each component in the component view js (home.js) */
.media-gallery{

    /*white label theme  goes here*/
    @include theme('whitelabel') {
        background-color: $color-iea-black;

        p, h1, h2, h3, h4, h5, h6 {
            color: $color-iea-light-grey;
        }

        .media-gallery-heading {
            font-size: $font-size-x-large;
        }

        .thumbnail {

            .icon-Enlarge {
                color: $color-iea-white;
            }

            .caption {
                h4 {
                    font-size: $font-size-x-small;
                 }
            }
        }

        @media(min-width: $screen-sm) {
            .media-gallery-subheading {
                font-size: $font-size-large;
            }
        }

        .thumbnail {
            background-color: $color-iea-black;

            &.active {
                background-color: $color-iea-white;
            }

            .caption {
                background-color: $color-iea-white;
            }

            h4 {
                color: $color-iea-black;
            }
        }

        @media(min-width: $bp-small) and (max-width: $screen-sm-max) {
            .media-thumbnail-container {
                background-color: $color-iea-dark-grey;
            }

            .thumbnail {
                .caption {
                    background-color: $color-iea-black;
                    color: $color-iea-white;
                }

                h4 {
                    color: $color-iea-black;
                }
            }
        }
    }

}